AWS_REGION=us-east-1
PROJECT_NAME=BidIt
API_STAGE_NAME=dev
API_GATEWAY_NAME=BiditAPI
API_GATEWAY_ID=
LAMBDA_ROLE_NAME=BiditLambdaExecutionRole
S3_BUCKET_NAME=your-bidit-images-bucket-name
STEP_FUNCTION_NAME=WinnerMachine
VITE_API_BASE_URL=https://your-api-id.execute-api.us-east-1.amazonaws.com/dev
VITE_AGORA_APP_ID=your-agora-app-id
AGORA_APP_ID=your-agora-app-id
AGORA_APP_CERT=your-agora-app-certificate
